<div class="modal-dialog" role="dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Create new room</h5>
        </div>
        <div class="modal-body">
            <h6>Title</h6>
            <input type="text" class="form-control" placeholder="Type chat name there"
                contenteditable="true"
                [(ngModel)]="channel.name"/>
            <br>
            <h6>Vulnerability</h6>
            <input type="text" class="form-control" placeholder="Type vulnerability identifier there"
                contenteditable="true"
                [(ngModel)]="channel.vulnerability"/>
            <br>
            <h6>Users</h6>
            <select class="form-control" 
                [(ngModel)]="channel.users" multiple>
                <option [value]="user" *ngFor="let user of users">{{user.login}}</option>
            </select>
            <br>
        </div>
        <div class="modal-footer">
            <button class="btn btn-success" (click)="save()">Save</button>
            <button class="btn btn-danger" (click)="close()">Close</button>
        </div>
    </div>
</div>