<div style="width: 50%; margin: auto" class="modal-content">
    <!-- Picture -->
    <div class="modal-header" style="justify-content:center">
        <img class="img-circle" style="width: 30%" src="/public/logo.jpg">
    </div>  
    <!-- Begin # DIV Form -->
    <div>
        <ng-template [ngTemplateOutlet]="loadTemplate()"></ng-template>
    </div>
    <!-- End # DIV Form -->
</div>

<!-- Begin # Login Form -->
<ng-template #authTemplate>
    <form>
        <div class="modal-body">
            <div>
                <span>Type your username and password.</span>
            </div>
            <br>
            <input type="text" class="form-control" 
                [(ngModel)]="login"
                (change)="validate('login')"
                [ngModelOptions]="{standalone: true}"
                placeholder = "Login" />
            <br>
            <input type="password" class="form-control" 
                [(ngModel)]="password"
                [ngModelOptions]="{standalone: true}"
                (change)="validate('password')"
                placeholder = "Password" required/>
        </div>
        <div class="modal-footer">
            <div>
                <button type="submit" class="btn btn-primary btn-block"
                    (click) = 'authorize()'>Login</button>
            </div>
            <div>
                <button type="button" class="btn btn-link"
                    (click) = 'changeMode()'>Register</button>
            </div>
        </div>
    </form>
</ng-template>
<!-- End # Login Form -->
            
<!-- Begin | Register Form -->
<ng-template #registerTemplate>
    <form id="register-form">
        <div class="modal-body">
            <div id="div-register-msg">
                <div id="icon-register-msg" class="glyphicon glyphicon-chevron-right"></div>
                <span id="text-register-msg">Register an account.</span>
            </div>
            <br>
            <input type="email" class="form-control" 
                [(ngModel)]="email"
                [ngModelOptions]="{standalone: true}"
                (change)="validate('email')"
                placeholder = "Email" />
            <br>
            <input type="text" class="form-control" 
                [(ngModel)]="login"
                (change)="validate('login')"
                [ngModelOptions]="{standalone: true}"
                placeholder = "Login" />
            <br>
            <input type="password" class="form-control" 
                [(ngModel)]="password"
                [ngModelOptions]="{standalone: true}"
                (change)="validate('password')"
                placeholder = "Password" required/>
        </div>
        <div class="modal-footer">
            <div>
                <button type="submit" class="btn btn-primary btn-block"
                    (click) = 'register()'>Register</button>
            </div>
            <div>
                <button id="register_login_btn" type="button" class="btn btn-link"
                    (click) = 'changeMode()'>Log In</button>
            </div>
        </div>
    </form>
</ng-template>
<!-- End | Register Form -->