<h1>Список пользователей</h1>
<div *ngIf="users != null">
    <paging-comp 
        [pages]="pages"
        (outputLimit) = "limitChange($event)"
        (outputPage) = "pageChange($event)">
    </paging-comp>
    <table class="table table-striped">
        <thead>
            <tr>
                <th style="text-align: center" *ngFor="let property of properties">
                    {{property}}
                </th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td *ngFor = "let property of properties">
                    <input type="text" class="form-control"
                        contenteditable="true"
                        [(ngModel)]="filterObject[property]" 
                        attr.data-placeholder="{{property}}"
                        (change)="filterChange($event.target.value)"/>
                </td>
                <td style="text-align: center;">
                    <input type="button" value="Добавить" class="btn btn-default" (click)="addUser()" />
                </td>
                <td></td>
            </tr>
            <tr style="text-align: center" *ngFor="let user of users">
                <ng-template [ngTemplateOutlet]="loadTemplate(user)" 
                    [ngTemplateOutletContext]="{ $implicit: user}">
                </ng-template>
            </tr>
        </tbody>
    </table>
</div>

<!--шаблон для чтения-->
<ng-template #readOnlyTemplate let-user>
        <td>{{user.id}}</td>
        <td>{{user.login}}</td>
        <td></td>
        <td>{{user.email}}</td>
        <td>{{user.accessLevel}}</td>
        <td>
            <input type="button" value="Изменить" class="btn btn-default" (click)="editUser(user)" />
        </td>
        <td>
            <input type="button" value="Удалить" (click)="deleteUser(user.id)" class="btn btn-danger" />
        </td>
</ng-template>
      
<!--шаблон для редактирования-->
<ng-template #editTemplate>
    <td>
        <input type="text" [(ngModel)]="editedUser.id" readonly disabled class="form-control" />
    </td>
    <td>
        <input type="text" [(ngModel)]="editedUser.login" class="form-control" />
    </td>
    <td>
        <input type="password" [(ngModel)]="editedUser.password" class="form-control" />
    </td>
    <td>
        <input type="text" [(ngModel)]="editedUser.email" class="form-control" />
    </td>
    <td>
            <input type="text" [(ngModel)]="editedUser.accessLevel" class="form-control" />
    </td>
    <td>
        <input type="button" value="Сохранить" (click)="saveUser()" class="btn btn-success" />
    </td>
    <td>
        <input type="button" value="Отмена" (click)="cancel()" class="btn btn-warning" />
    </td>
</ng-template>

